<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="analyticsdata.Properties.Settings.basesite_sc71_analyticsConnectionString"
            connectionString="Data Source=BSO-DPC-00622;Initial Catalog=basesite_sc71_analytics;User ID=SitecoreInstaller"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>